<!DOCTYPE html>
<html>
<head>
  <title>Railsbelt2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RailsBelt2</a>
    </div>
    <ul class="nav navbar-nav">
    <% if current_user %>
      <li><%= link_to "#{current_user.firstname}", user_path(:user_id => current_user.id)%></li> 
      <li class="active"><a href="<%= index_path current_user.id  %>">Home</a></li>
      <li><a href="<%= logout_path %>">Logout</a></li>
    <% else %>
      <li class="active"><a href="<%= register_path %>">Register</a></li>
      <li><a href="<%= login_path %>">Login</a></li> 
    <% end %>  
    </ul>
  </div>
</nav>


<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
	<p><%= error %> </p>
<% end %>	
<% end %>

<%= yield %>

</body>
</html>
